[Desktop Entry]
Charset=
Name=Flathub
Type=Service
Keys=flathub
Query=https://flathub.org/apps/search?q=\\{@}
Query[de]=https://flathub.org/de/apps/search?q=\\{@}
